@model HomeVM

@{
    Layout = "_LayoutHomepage";
}

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" data-interval="10000">
        <div class="carousel-inner" role="listbox">
            @foreach (var content in Model.ContentList)
            {
                <div class="carousel-item @(content == Model.ContentList.First() ? "active" : "")">
                    <img src="@content.ImageUrl" class="d-block w-100 vh-100" alt="..." style="object-fit: cover;">
                </div>
            }
        </div>
    </div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}